.wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
}
.header {
	/* background-color: #fff; */
	height: 100px;
	margin-bottom: 20px;
	text-align: center;
	padding: 10px;
}
.header img {
	height: 100%;
}
